.theme {
  background: #F5F5F5;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.theme__date-author {
  display: flex;
  gap: 5rem;
  margin-bottom: 1rem;
}

.theme__title {
  font-size: 1.1rem;
  font-weight: bold;
}

.call-to-action__button {
  text-align: center;
}
