<app-main-menu></app-main-menu>
<section class="container">
  <h1 class="page-title">Profil utilisateur</h1>

  <form class="form form--profile" [formGroup]="formGroup">
    <div class="form-group">
      <input class="form-control" type="text" formControlName="username">
    </div>
    <div class="form-group">
      <input class="form-control" type="email" formControlName="email">
    </div>

    <div class="center call-to-action">
      <button [disabled]="formGroup.invalid" type="submit" mat-raised-button color="primary">Sauvegarder</button>
      <p (click)="logout()" class="call-to-action__logout">
        Se déconnecter
      </p>
    </div>
  </form>
  <hr>
</section>

<section class="themes container">
  <h1 class="themes__title center">Abonnements</h1>
  <div class="themes__themes">
    <div class="theme" *ngFor="let subscription of profile.subscriptions">
      <p class="theme__title">{{subscription.title}}</p>
      <p class="theme__description">{{subscription.description}}</p>

      <div class="center">
        <button type="button" mat-raised-button color="primary">Se désabonner</button>
      </div>
    </div>
  </div>
</section>
