.call-to-action__logout {
  color: #A40F0F;
  font-weight: bold;
  font-size: .9rem;
  margin-top: 1rem;
}

.themes__themes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.themes__title {
  font-size: 1.7rem;
  font-weight: bold;
}

.themes {
  padding-top: 0;
}

.form-control {
  border: 2px solid #6C5CCF;
}

.page-title {
  text-align: center;
}

.form-group {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .theme {
    width: 30%;
  }

  .themes__themes {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
