.menu {
  border-bottom: 1px solid;
}

.menu__logo .logo {
  width: 150px;
}

.menu__nav {
  display: none;
  position: relative;
}

.menu__nav__mobile__list {
  list-style: none;
  line-height: 3rem;
}

.menu__nav__mobile__list a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.menu__nav--mobile {
  padding: 5rem 2rem;
  text-align: right;
  position: fixed;
  width: 60%;
  background: white;
  height: 100vh;
  right: 0;
  top: 0;
  z-index: 201;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.backdrop {
  width: 100vh;
  height: 100vh;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  display: none;
}

.open {
  display: flex;
}

.menu__user-icon__container {
  position: absolute;
  right: 40px;
  top: 45px;
  background: #6C5CCF;
}

.menu__user-icon__container ul {
  list-style: none;
  line-height: 2;
  padding: 0 3rem;
}

.menu__user-icon__container ul a {
  text-decoration: none;
  color: white;
}

.main__menu {
  display: flex;
  align-items: center;
}

.toggle-button {
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.mobile__user-icon {
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.toggle-button__band {
  border: 2px solid;
  width: 30px;
}

@media (min-width: 770px) {
  .toggle-button {
    display: none;
  }

  .menu__nav--mobile {
    display: none;
  }

  .menu.main__menu {
    justify-content: space-between;
  }

  .menu__nave__list {
    list-style: none;
    display: flex;
    gap: 20px;
  }

  .menu__nave__list a {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
  }

  .menu__nave__list .active {
    color: #6C5CCF;
  }

  .menu__nav {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 30px;
  }

  .custom-account-icon {
    font-size: 3rem;
    width: 3rem;
    height: 3rem;
    color: gray;
  }

  .backdrop {
    display: none;
  }
}

