.menu {
  display: none;
  border-bottom: 1px solid;
}

.menu__logo .logo {
  width: 150px;
}

@media (min-width: 670px) {
  .menu.main__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu__nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }

  .menu__nav ul a {
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
  }

  .menu__nav ul .active {
    color: #6C5CCF;
  }

  .menu__nav {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 30px;
  }

  .custom-account-icon {
    font-size: 3rem;
    width: 3rem;
    height: 3rem;
    color: gray;
  }
}

