<header class="menu main__menu">
  <div class="menu__logo">
    <img class="logo logo-auth" src="/assets/images/logo.png" alt="Logo here" />
  </div>
  <nav class="menu__nav" *ngIf="isAuthenticated">
    <ul class="menu__nave__list">
      <li>
        <a [class.active]="currentRoute=='articles'" routerLink="/articles">Articles</a>
      </li>
      <li>
        <a [class.active]="currentRoute=='themes'" routerLink="/themes">Thèmes</a>
      </li>
    </ul>
    <div class="menu__user-icon" (mouseenter)="toggleDropdown(true)" (mouseleave)="toggleDropdown(false)">
      <mat-icon class="custom-account-icon" aria-hidden="false" aria-label="User account" fontIcon="account_circle"></mat-icon>
      <div class="menu__user-icon__container" *ngIf="showDropdown">
        <ul>
          <li>
            <a routerLink="/profile">Profil</a>
          </li>
          <li>
            <a href="#" (click)="logout()">Déconnexion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
