<div class="menu main__menu">
  <div class="menu__logo">
    <img class="logo logo-auth" src="/assets/images/logo.png" alt="Logo here" />
  </div>
  <nav class="menu__nav">
    <ul>
      <li>
        <a routerLink="/articles">Articles</a>
      </li>
      <li>
        <a routerLink="/themes" class="active">Thèmes</a>
      </li>
    </ul>
    <div class="menu__user-icon">
      <mat-icon class="custom-account-icon" aria-hidden="false" aria-label="User account" fontIcon="account_circle"></mat-icon>
    </div>
  </nav>
</div>
