@media (max-width: 669px) {
  .menu {
    display: none;
  }
}

.menu {
  display: none;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.call-to-action__sort span {
  font-weight: bold;
}

.call-to-action__sort {
  display: flex;
  align-items: center;
}

.theme {
  word-wrap: break-word;
}

@media (min-width: 768px) {
  .call-to-action {
    flex-direction: row;
  }

  .themes {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
  }

  .theme {
    width: 47%;
  }
}


