<app-main-menu></app-main-menu>
<div class="container">
  <div class="call-to-action">
    <div class="call-to-action__button">
      <button (click)="navigate()" mat-raised-button color="primary">Créer un article</button>
    </div>
    <div class="call-to-action__sort" (click)="sort()">
      <span>Trier par</span>
      <mat-icon *ngIf="sortOrder=='DESC'" aria-hidden="false" aria-label="Sort icon" fontIcon="south"></mat-icon>
      <mat-icon *ngIf="sortOrder=='ASC'" aria-hidden="false" aria-label="Sort icon" fontIcon="north"></mat-icon>
    </div>
  </div>

  <mat-spinner *ngIf="isLoading; else articlesTemplate"></mat-spinner>
  <ng-template  #articlesTemplate>
    <section class="articles">
      <app-article [routerLink]="'/articles/' + article.id" class="article" *ngFor="let article of articles" [article]="article"></app-article>
    </section>
  </ng-template>
</div>
