<div>
  <app-main-menu></app-main-menu>
  <app-navigation-arrow></app-navigation-arrow>
  <div class="center">
    <img class="logo logo-auth mobile-logo" src="/assets/images/logo.png" alt="Logo here" />
    <h3>Se connecter</h3>
  </div>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">
    <div class="form-group">
      <label for="email" class="form-group__label">Email ou nom d'utilisateur</label>
      <input id="email" type="text" class="form-control" formControlName="email">
      <app-form-control-error [form]="formGroup" [name]="'email'"></app-form-control-error>
    </div>

    <div class="form-group">
      <label for="password" class="form-group__label">Mot de passe</label>
      <input type="password" formControlName="password" id="password" class="form-control">
      <app-form-control-error [form]="formGroup" [name]="'password'"></app-form-control-error>
    </div>

    <div class="center">
      <button data-cy="login-button" [disabled]="formGroup.invalid" mat-raised-button color="primary">Se connecter</button>
    </div>

    <swal
      data-cy="error-dialog"
      #errorDialog
      text="Nom d'utilisateur/email ou mot de passe incorrect"
      icon="error"
      customClass="error-dialog"
    >
    </swal>
  </form>
</div>
