<div>
  <app-main-menu class="menu-component"></app-main-menu>
  <app-navigation-arrow></app-navigation-arrow>
  <div class="center">
    <img class="logo-auth logo mobile-logo" src="/assets/images/logo.png" alt="Logo here" />
    <h3>Inscription</h3>
  </div>
  <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username" class="form-group__label">Nom d'utilisateur</label>
      <input formControlName="username" id="username" type="text" class="form-control">
      <app-form-control-error [form]="formGroup" [name]="'username'"></app-form-control-error>
    </div>

    <div class="form-group">
      <label for="email" class="form-group__label">Adresse e-mail</label>
      <input formControlName="email" type="email" id="email" class="form-control">
      <app-form-control-error [form]="formGroup" [name]="'email'"></app-form-control-error>
    </div>

    <div class="form-group">
      <label for="password" class="form-group__label">Mot de passe</label>
      <input formControlName="password" type="password" id="password" class="form-control">
      <app-form-control-error
        [customErrors]="[{errorType: 'pattern', message: 'Le mot de passe doit comporter une lettre miniscule, une lettre majuscule, un nombre et un symbole et avoir une longueur minimum de 8'}]"
        [form]="formGroup" [name]="'password'"
      >
      </app-form-control-error>
    </div>

    <div class="center">
      <button [disabled]="formGroup.invalid" type="submit" mat-raised-button color="primary">S'inscrire</button>
    </div>
  </form>
</div>
