<div class="article">
  <p class="article__title">Titre de l'article</p>

  <div class="article__date-author">
    <span class="">Date</span>
    <span class="">Auteur</span>
  </div>

  <p class="article__content">
    Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser
  </p>
</div>
