<app-main-menu></app-main-menu>
<mat-spinner *ngIf="isLoading; else content"></mat-spinner>

<ng-template #content>
  <div class="container">
    <section class="article">
      <div class="article__header">
        <app-navigation-arrow redirectTo="/articles"></app-navigation-arrow>
        <h1 class="title">{{article.title}}</h1>
      </div>
      <div class="articles__content">
        <div class="article__metas">
          <p class="article__meta">{{article.createdAt | date: 'd/M/Y HH:mm' }}</p>
          <p class="article__meta">{{article.author.username}}</p>
          <p class="article__meta">{{article.theme.name}}</p>
        </div>
        <p class="articles__content__content">
          {{article.content}}
        </p>
      </div>
    </section>
    <hr>
    <section class="comments">
      <h1 class="comments__title">Commentaires</h1>
      <div class="comments__comments">
        <div class="comment" *ngFor="let comment of article.comments">
          <p class="comment__content">
            {{comment.content}}
          </p>
          <p class="comment__author">{{comment.author.username}}</p>
        </div>
      </div>

      <div class="new-comment">
        <textarea [(ngModel)]="newComment" placeholder="Ecrivez ici votre commentaire" class="new-comment__textarea" name="comment" cols="30" rows="10"></textarea>
        <img (click)="submitComment()" class="new-comment__send" src="assets/images/send.svg" alt="Send button">
      </div>
    </section>
  </div>
</ng-template>
