<app-main-menu></app-main-menu>

<div class="page__header">
  <app-navigation-arrow redirectTo="/articles"></app-navigation-arrow>
  <h1 class="page-title center">Créer un nouvel article</h1>
</div>

<section class="container">
  <form (ngSubmit)="onSubmit()" class="form form--new-article" [formGroup]="formGroup">
    <div class="form-group">
      <select formControlName="themeId" name="theme" id="theme" class="form-control">
        <option value="">Sélectionner un thème</option>
        <option *ngFor="let theme of themes" [value]="theme.id">
          {{theme.name}}
        </option>
      </select>
      <app-form-control-error [form]="formGroup" name="theme"></app-form-control-error>
    </div>

    <div class="form-group">
      <input formControlName="title" placeholder="Titre de l'article" type="text" class="form-control">
      <app-form-control-error [form]="formGroup" name="title"></app-form-control-error>
    </div>

    <div class="form-group">
      <textarea formControlName="content" class="form-control" name="content" id="content" cols="30" rows="10"></textarea>
      <app-form-control-error [form]="formGroup" name="content"></app-form-control-error>
    </div>

    <div class="center">
      <button [disabled]="formGroup.invalid" type="submit" mat-raised-button color="primary">Créer</button>
    </div>

    <swal
      #successDialog
      text="Article créé avec succès"
      icon="success"
    >
    </swal>
  </form>
</section>
